includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: 8
    paths:
        - app
    ignoreErrors:
        - '#Access to an undefined property App\\Demo\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+\.#'
        - '#Call to an undefined method App\\Http\\Resources\\DemoResource::DemoMethod\(\)\.#'
    excludes_analyse:
        - /*/*/FileToBeExcluded.php
